[submodule "Assets/CommonGameScript"]
	path = Assets/CommonGameScript
	url = https://github.com/msudhanshu/CommonGameScript.git
	branch = master
[submodule "Assets/vsg-unity"]
	path = Assets/sg-unity
	url = https://github.com/msudhanshu/sg-unity.git
	branch = master
